<!DOCTYPE html>

<html>
<head>
    <title>Library Website</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #007bff;
            color: #fff;
            padding: 20px;
            border-radius: 5px;
        }

            .header h1 {
                margin: 0;
            }

            .header button {
                border: none;
                background-color: #fff;
                color: #007bff;
                padding: 10px 20px;
                border-radius: 5px;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            }

                .header button:hover {
                    background-color: #007bff;
                    color: #fff;
                }

        .navbar {
            display: flex;
            justify-content: center;
            background-color: #f5f5f5;
            padding: 10px;
            border-radius: 5px;
        }

            .navbar a {
                color: #007bff;
                text-decoration: none;
                padding: 10px;
                margin: 0 10px;
                font-size: 16px;
                font-weight: bold;
                transition: color 0.2s ease-in-out;
            }

                .navbar a:hover {
                    color: #0056b3;
                }
    </style>
</head>
<body>
    <div class="header">
        <h1>Library Website</h1>
        <div>

            <button onclick="location.href='/Account/Login'">Logout</button>

        </div>
    </div>
    <div class="navbar">
        <a href="/StudentInterface/Home">Home</a>
        <a href="/StudentInterface/History">Borrow History</a>
        <a href="/BookManagement/Book">Book Management</a>
    </div>
</body>
</html>








@model ClassLibrary.Models.Book

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create book</h1>

<div>
    <a asp-action="Book">Back to List</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>  <br />
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div> <br />
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" id="fileUpload" name="fileUpload" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div> <br />
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div> <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Book">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
