@*
<html>
<head>
    <title>Welcome</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="background-image: url("");">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>Login Form</h2>
                <hr />
                <form method="post" asp-action="Login">
                    <div class="form-group">
                        <label for="txtEmail">Email:</label>
                        <input type="text" class="form-control" id="txtEmail" name="txtEmail" required />
                    </div>
                    <div class="form-group">
                        <label for="txtPassword">Password:</label>
                        <input type="password" class="form-control" id="txtPassword" name="txtPassword" required />
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
*@


<!DOCTYPE html>

<html>
<head runat="server">
    <title>Login Form</title>
    <style>
        body {
            background-image: url('https://www.albertwhitman.com/wp-content/uploads/2020/03/2020-03-01-AW-Website-Homepage-and-Social-Banners-Women-History-Month-Website-Banner-artwork-1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        .login-container {
            width: 500px;
            height: 500px;
            margin: auto;
            margin-top: 50px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            text-align: center;
        }
        .login-button {
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            margin-top: 20px;
            border: none;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
        }
        .login-button:hover {
            background-color: #0062cc;
        }
    </style>
</head>
<body>
    @{
        var msg = ViewBag.Msg;
    }
    <form id="login-form" asp-action="Login" method="POST">
        <div class="login-container">
            <h2>Welcome to Book Library</h2>
            <br /> <br />
            <label for="Email">Email:   </label> 
            <input type="text" id="Email" name="txtEmail" required />
            <br /> <br />
            <label for="password">Password:</label>
            <input type="password" id="password" name="txtPassword" required />
            <br /><br />
            <button type="submit" class="login-button">Login</button>
            <div>@msg</div>
        </div>
    </form>
</body>
</html>

